.logo {
  display: flex;
  text-decoration: none;
  .imgLogo {
    width: 50px;
    height: 50px;
  }
  .titleLogo {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    color: $grey3;
  }
}
