@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&family=VT323&display=swap");
@import "./assets/scss/variables";
@import "./components/components";

@import "./layouts//Header/header";

* {
  font-family: "Tajawal", sans-serif;
  margin: 0;
}
body{
  background: $light_cyan;
}

.App{
  margin: 0 50px;
}
